loguru~=0.6.0
pathlib~=1.0.1
typing~=3.7.4.3
requests~=2.28.1
bs4~=0.0.1
lxml~=4.9.1
pyyaml~=6.0
datetime~=4.7
selenium~=4.4.3
qbittorrent-api
undetected_chromedriver
ssl
function_controler
ddddocr
setuptools~=60.2.0
beautifulsoup4~=4.11.1